.container {
  min-height: 100vh;
  padding: 5rem 8rem;
  background-color: var(--bg);
  color: var(--text-color);
  gap: 2rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
}

.projectCard {
  margin-top: 3rem;
  background: var(--bg-gradient);
  padding: 2rem;
  display: flex;
  gap: 2rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.image {
  border-radius: 2rem;
  background-size: cover;
}

.projectContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.projectTitle {
  font-size: 2rem;
}

.projectDesc {
  font-size: 1.5rem;
}

.projectDate {
  font-size: 1.8rem;
}

.projectTech {
  font-size: 2rem;
  font-weight: 500;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin-top: 5rem;
  padding: 1rem 3rem;
  background-color: var(--text-color);
  color: var(--bg);
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 2rem;
  border: 2px solid var(--softTextColor);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.btn:hover {
  background-color: var(--bg);
  color: var(--text-color);
  transition: all 0.5s ease;
}

@media screen and (max-width: 1500px) {
  .projectTech {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1350px) {
  .projectTitle {
    font-size: 1.8rem;
  }

  .projectDesc {
    font-size: 1.2rem;
  }

  .projectDate {
    font-size: 1.2rem;
  }

  .projectTech {
    font-size: 1.2rem;
    font-weight: 500;
  }

  .image {
    width: 500px;
    height: 350px;
  }
}

@media screen and (max-width: 1350px) {
  .projectTitle {
    font-size: 1.5rem;
  }

  .projectDesc {
    font-size: 1rem;
  }

  .projectDate {
    font-size: 1rem;
  }

  .projectTech {
    font-size: 1rem;
    font-weight: 500;
  }

  .image {
    width: 400px;
    height: 250px;
  }
}

@media screen and (max-width: 950px) {
  .projectTitle {
    font-size: 1rem;
  }

  .projectDesc {
    font-size: 0.8rem;
  }

  .projectDate {
    font-size: 0.8rem;
  }

  .projectTech {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .image {
    width: 400px;
    height: 250px;
  }
}

@media screen and (max-width: 800px) {
  .projectCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .projectContent {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
  }

  .projectTitle {
    font-size: 1.5rem;
  }

  .projectDesc {
    font-size: 1rem;
  }

  .projectDate {
    font-size: 1rem;
  }

  .projectTech {
    font-size: 1rem;
    font-weight: 500;
  }

  .image {
    width: 500px;
    height: 350px;
  }
}

@media screen and (max-width: 768px) {
  .image {
    width: 400px;
    height: 250px;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .title {
    font-size: 2rem;
  }

  .projectCard {
    padding: 1rem;
  }

  .projectTitle {
    font-size: 1rem;
  }

  .image {
    width: 250px;
    height: 150px;
  }
}
