.send {
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form > input {
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  color: var(--text-color);
  background-color: var(--bg);
  border: 1px solid var(--softTextColor);
  box-shadow: 5px 5px 0 -1px var(--softTextColor);
}

.form > textarea {
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  color: var(--text-color);
  background-color: var(--bg);
  border: 1px solid var(--softTextColor);
  box-shadow: 5px 5px 0 -1px var(--softTextColor);
}

.form > input::placeholder {
  font-family: inherit;
  font-size: 1rem;
}

.form > textarea::placeholder {
  font-family: inherit;
  font-size: 1rem;
}

.submitBtn {
  padding: 1.5rem;
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: var(--text-color);
  color: var(--bg);
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 5px 5px 0 -1px var(--softTextColor);
}

@media screen and (max-width: 852px) {
  .send {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .send {
    width: 100%;
  }
}

@media screen and (max-width: 462px) {
  .send {
    width: 100%;
  }
}
