.container {
  min-height: 100vh;
  padding: 5rem 8rem;
  background-color: var(--bg);
  color: var(--text-color);
  gap: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin-bottom: 2rem;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.singleProject {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 2rem;
  gap: 1rem;
  border: 1px solid rgb(207, 207, 207);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img {
  width: 300px;
  height: 200px;
  background-size: cover;
  border-radius: 2rem;
}

.projectContent {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projInfo {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.projTech {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.date {
  font-weight: bold;
}

.tech {
  padding: 0.5rem 1rem;
  background-color: var(--text-color);
  color: var(--bg);
}
