.container {
  min-height: 80vh;
  padding: 5rem 8rem;
  background-color: var(--bg);
  color: var(--text-color);
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  margin: 2rem 0;
  font-size: 3rem;
}

.skills {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.skill {
  padding: 1.5rem 3rem;
  background-color: var(--softBg);
  border-radius: 1rem;
  border: 1px solid var(--softTextColor);
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: 8px 8px 0 -1px var(--softTextColor);
}

@media screen and (max-width: 800px) {
  .skill {
    padding: 1rem 2rem;
  }

  .container {
    padding: 5rem 4rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 5rem 4rem;
  }

  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 5rem 2rem;
  }

  .skill {
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }
}
