.container {
  min-height: 90vh;
  background-color: var(--bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 8rem;
}

.content {
  text-align: center;
}

.title {
  font-size: 3rem;
}

.desc {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 180%;
}

.btn {
  margin: 2rem 0;
  padding: 1rem 3rem;
  background-color: var(--text-color);
  color: var(--bg);
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 1rem;
  border: 1px solid var(--softTextColor);
  box-shadow: 8px 8px 0 -1px var(--softTextColor);
}

.btn:hover {
  background-color: var(--bg);
  color: var(--text-color);
  transition: all 0.5s ease;
}

@media screen and (max-width: 830px) {
  .title {
    font-size: 1.5rem;
  }

  .desc {
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 180%;
  }

  .btn {
    margin: 1.5rem 0;
    padding: 1rem 3rem;
    background-color: var(--text-color);
    color: var(--bg);
    font-size: 0.8rem;
    font-weight: 500;
    border-radius: 1rem;
    border: 1px solid var(--softTextColor);
    box-shadow: 8px 8px 0 -1px var(--softTextColor);
  }
}

@media screen and (max-width: 700px) {
  .container {
    padding: 0 5rem;
  }
}

@media screen and (max-width: 400px) {
  .container {
    padding: 0 2rem;
  }

  .title {
    font-size: 1.5rem;
  }
}
