.container {
  min-height: 100vh;
  padding: 5rem 8rem;
  background-color: var(--bg);
  color: var(--text-color);
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
}

.contact {
  display: flex;
  gap: 3rem;
}

.content {
  width: 50%;
}

.desc {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.link {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1.2rem;
}

.icon {
  background-color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.send {
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form > input {
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  color: var(--text-color);
  background-color: var(--bg);
  border: 1px solid var(--softTextColor);
  box-shadow: 5px 5px 0 -1px var(--softTextColor);
}

.form > textarea {
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  color: var(--text-color);
  background-color: var(--bg);
  border: 1px solid var(--softTextColor);
  box-shadow: 5px 5px 0 -1px var(--softTextColor);
}

.form > input::placeholder {
  font-family: inherit;
  font-size: 1rem;
}

.form > textarea::placeholder {
  font-family: inherit;
  font-size: 1rem;
}

.form > button {
  padding: 1.5rem;
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  background-color: var(--text-color);
  color: var(--bg);
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 5px 5px 0 -1px var(--softTextColor);
}

.copyright {
  padding: 3rem 0;
  display: flex;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .container {
    padding: 5rem 4rem;
  }
}

@media screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
  }

  .contact {
    flex-direction: column;
  }

  .content {
    width: 100%;
  }

  .send {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .title {
    font-size: 2rem;
  }
}
