/* .theme {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  border-radius: 2rem;
  cursor: pointer;
} */

.container {
  width: 4rem;
  height: 2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  color: white;
  cursor: pointer;
}

.ball {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  position: absolute;
}

.icons {
  display: flex;
}
